fastapi==0.111.0
uvicorn[standard]==0.30.0
sentence-transformers==2.7.0
numpy==1.26.4
SQLAlchemy==2.0.30
asyncpg==0.29.0
aiosqlite==0.20.0
httpx==0.26.0
pytest==8.2.2
# async test plugin
pytest-asyncio==0.23.6
# fine-tune deps
torch==2.2.2
transformers==4.41.2
peft==0.10.0
accelerate==0.29.3
requests==2.32.3
openai==1.30.1